PORT=5000
DB_TYPE=sqlite
JWT_SECRET=fUig34qQYPhjqKMfGRZrQOxebowC2iyGHICnloAiMwuFiOdHJRS0y90qref4XS4O56xKrd7bij330NQQwjIJIYl33bOEsArTgcP5DZyhuz4R3d3KzxjFlukZUeQPUQKGn4p9Wu7pAexYURdcyLnuoquWHTSJz6j4g6tr6VKWx2gdY4bZ0cKKDHA5T1NmJ9NIgau8yQ4e9AT4bCr547V7gPBXMxeFYwuIOU6mB1DpTCHxwECw7xPrhFxS7v7jHpJs1YxP1yZmLpucTx843XsMpc0lKxa2ZNFa7AbBdktfVMbP35aVzUGknzHi1Dfuz7Tm


GEMINI_API_KEY=AIzaSyB8T1REZyyc_qmo-u1_B_dhBrOR73UVBVY